/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
.about .about-content h3 {
    font-weight: 700;
    font-size: 26px;
}

.about .about-content ul {
    list-style: none;
    padding: 0;
}

.about .about-content ul li {
    display: flex;
    align-items: flex-start;
    margin-bottom: 35px;
}

.about .about-content ul li:first-child {
    margin-top: 35px;
}

.about .about-content ul i {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 64px;
    height: 64px;
    font-size: 32px;
    color: #fff;
    background: var(--accent-color);
    margin-right: 15px;
    line-height: 0;
    border-radius: 5px;
}

.about .about-content ul h4 {
    font-size: 18px;
    font-weight: 600;
}

.about .about-content ul p {
    font-size: 15px;
}

.about .about-content p:last-child {
    margin-bottom: 0;
}

#whoweareText {
    text-align: center;
    font-size: 40px;
    color: white;
    opacity: 0.9;
}

@media (max-width: 425px) {
    #whoweareText {
        font-size: 15px;
    }
}

@media (max-width: 375px) {
    #whoweareText {
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    #whoweareText {
        font-size: 21px;
    }
}

hr {
    height: 5px;
    background-color: white;
    border: none;
    border-radius: 10px;

}

#whText {
    color: #499FEE;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    font-size: x-large;
    font-weight: bold;
}

.conwh {
    background-color: rgba(185, 181, 181, 0);
    border-radius: 10px;
}

.welogos {
    margin: 10px;
    background-color: rgb(130, 163, 163);
    width: 10px;
    border-radius: 15px;
    text-align: center;
}

.welogos:hover {
    cursor: pointer;
}

.techcontainer {
    text-align: center;
    padding-bottom: 5%;
}

.techimage {
    padding-top: 7%;
    padding-bottom: 7%;
    width: 70% !important;
}

.techText {
    font-size: large;
    color: rgb(4, 29, 61);
    font-weight: bold;
}

/* Model */
.disModel {
    background-color: rgba(108, 204, 204, 0.2);
}

.model-header {
    background-color: #01066B;
    color: white;
}

.model-body {
    background-color: #C9CBF9;
}

.model-content-text {
    font-weight: bolder;
}

.model-image {
    padding-top: 5%;
    padding-bottom: 5%;
    width: 80%;
    height: auto;
}

.contactUs-button {
    background-color: #01066B !important;
    border: none;
    color: white;
    width: 20%;
}

.contactUs-button:hover {
    background-color: #0810af !important;
}

.model-footer {
    background-color: #C9CBF9 !important;
}


@media (max-width: 640px) {
    .welogos {
        margin: 10px;
        background-color: rgb(130, 163, 163);
        width: 35% !important;
        border-radius: 15px;
        text-align: center;
    }

    .techcontainer {
        text-align: justify !important;
        padding-bottom: 5%;
    }

    #whText {
        color: #499FEE;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        font-size: 23px;
        font-weight: bold;
    }

    .conwh {
        text-align: center;
    }
}